<!DOCTYPE html>
<html lang="ru">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "static/style.css" %}">
    <meta charset="UTF-8">
    <title>Данные, полученные с сайта</title>
</head>
    <div>
        <h1>Результат запроса</h1>
    <textarea readonly class="textarea success">
        &ltдата {{ date }}&gt:
        {% if code == "200" %}
          Обработка запроса прошла успешно
        {% else %}
          Обработка закончилась с ошибкой {{ error_reason }}
          Код ошибки {{ code }}
        {% endif %}
    </textarea><br />
        <h1>Информация о сайте</h1>
    <textarea readonly class="textarea info">
        {{ url }}-
          {% if title or charset or h1 %}
            Title: {% if title %}{{ title }}{% else %}Не получен{% endif %}

            Charset:{% if charset %}{{ charset }}{% else %}Не получен{% endif %}

            h1:{% if h1 %}{% for h in h1 %}{{ h }}
              {% endfor %}
            {% else %}
              Не получен
            {% endif %}
          {% endif %}
    </textarea>
    </div>
</body>
</html>